.App {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}
.left-panel {
  flex: 1;
}
.right-panel {
  flex: 1;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  border: 1px black solid;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.col.positive {
  background-color: green;
}

.col.negative {
  background-color: red;
}